{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "^(fumadocs-core/(.*)$)|^(fumadocs-core$)",
    "^(fumadocs-mdx/(.*)$)|^(fumadocs-mdx$)",
    "^(fumadocs-ui/(.*)$)|^(fumadocs-ui$)",
    "^(fumadocs-typescript/(.*)$)|^(fumadocs-typescript$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/hooks/(.*)$",
    "^@/assets/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/context/(.*)$",
    "^@/service/(.*)$",
    "^@/server/(.*)$",
    "^@/app/(.*)$",
    "",
    "^@/styles/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
